# ignore python artifacts
__pycache__/
*.pyc
.env
.env.*
venv

# model checkpoints / large artifacts
models/
model_store/
torchserve_model_store/
triton_model_repo/
*.mar
*.pt
*.bin

# notebooks
.ipynb_checkpoints/

# OS
.DS_Store
